#!/bin/bash

# Needed to download certs from ODP
# DOWNLOAD_ITEMS="certs/dev/vote-bot/votebot.p12,certs/server.truststore"

export SESSION_AUTH="https://foundation-dev-api.symphony.com/sessionauth"
export KEY_AUTH="https://foundation-dev-api.symphony.com/keyauth"
export SYMPHONY_POD="https://foundation-dev.symphony.com/pod"
export SYMPHONY_AGENT="https://foundation-dev-api.symphony.com/agent"
export TRUSTSTORE_FILE=./certs/server.truststore

# Setup passwords
export TRUSTSTORE_PASSWORD=
export KEYSTORE_PASSWORD=

# Folder must be local to the project root folder
export CERTS=./certs/

# ./certs/mybot.p12 must exist
export BOT_USER=mybot
export BOT_DOMAIN=@mydomain.com

# Generated credentials for API access
export MCP_NOTIFICATION_USER=user
export MCP_NOTIFICATION_PASSWORD=password
export API_USER=user
export API_PASSWORD=password

# People that can actually vote
export ESCO_USER_VOTE="123456789012345:user1:user1@domain.com,234567890123456:user2:user2@domain.com"
# Members of the Symphony chat - not participating to the vote
export ESCO_USER_LIST="123456789012345:user1:user1@domain.com,234567890123456:user2:user2@domain.com,email:Personal Email User 3:user3@gmail.com"

export MAIL_SMTP_HOST="email-smtp.us-east-1.amazonaws.com"

# Key ID of SES user
export MAIL_SMTP_USER=
# Access Key of SES user
export MAIL_SMTP_PASSWORD=

export MAIL_SMTP_AUTH=true
export MAIL_SMTP_PORT=587
export MAIL_SMTP_DEBUG=true
export MAIL_SEND_EMAIL=false

# Where notifications and relay emails come from
export MAIL_VB_FROM="mybot@mydomain.com"

# Distro list that refers to esco - new vote starts/ends triggers a notification
export MAIL_DISTRO_EMAIL="distro@mydomain.com"

# Incoming, processed and VB prefixes must exist as folders in my-s3-bucket S3 bucket
export S3_ENABLED=true
export S3_BUCKET="my-s3-bucket"
export MAIL_S3_PREFIX_INCOMING="email/incoming/"
export MAIL_S3_PREFIX_PROCESSED="email/processed/"
export VB_S3_PREFIX_JSON="json/vb/"
export S3_ACCESS_KEY="FG18+kECycYnz0j6KZW/64yegu3vsc7uqaCxeTpW"
export S3_KEY_ID="AKIAIDXG6IJ2S34DXLSQ"
